<% if @user.errors.any?%>
	<div id="error_desc">
		<div class="alert alert-danger">
			<%=pluralize(@user.errors.count, "Error")%>
		</div>
		<ul>
		<% @user.errors.full_messages.each do |err_msg|%>
			<li>
			<%=err_msg%>
			</li>
			<%end%>
		</ul>
	</div>
<%end%>
